@charset "utf-8";
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';

@import './variables';

$primary: $purple;
$success: $turquoise;
$link: $primary;

@import 'node_modules/bulma/bulma.sass';
